/* -------------- */
/* Variables      */
/* -------------- */

:root {
    --clr-light: #fff7f0;
    --clr-dark: #030303;
    --clr-grey: #7a746e;

    --clr-accent: #eb7565;
    --clr-hover-light: #f6a560;
    --clr-hover-dark: #755cde;
    
    --clr-pink: #f39e9e;
    --clr-cyan: #61c4b7;
    --clr-blue: #755cde;
    --clr-purple: #552049;
    --clr-orange: #f6a560;
    --clr-red: #eb7565;
}

/* -------------- */
/* Reset          */
/* -------------- */

/* https://piccalil.li/blog/a-more-modern-css-reset/ */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  /* color: currentColor; */
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* -------------- */
/* General Styles */
/* -------------- */

body {
    font-family: "Plus Jakarta Sans", sans-serif;
    text-align: center;
    background: var(--clr-light);
    color: var(--clr-dark);
    margin: 1rem;
}

@media (min-width: 768px) {
    body {
        margin: 2.4375rem;
    }
}

p {
    line-height: 26px;
    color: var(--clr-grey);
}

.btn {
    text-decoration: none;
    padding: 8px 28px;
    font-size: 0.875rem;
    font-weight: bold;
    line-height: 28px;
    border-radius: 28px;
}

/* -------------- */
/* Header         */
/* -------------- */

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .btn {
        background: var(--clr-dark);
        color: var(--clr-light);
    }
}

/* -------------- */
/* Hero           */
/* -------------- */

.hero-section {
    margin-bottom: 100px;
}

.hero__title {
    font-size: 2.25rem;
    font-weight: bold;
    text-align: center;
    line-height: 45px;
}

.hero__text {
    padding: 0 30px;
    margin-bottom: 32px;
}

/* Bento Grid */

.bento-grid {
    display: grid;
    gap: 1.5rem;
    grid-auto-columns: 1fr;
    grid-template-areas:
    'one one'
    'two three'
    'four four'
    'five five'
    'six six';
}

.box {
    border-radius: 8px;
    /* padding: 1.5rem; */
    position: relative;

    img {
        position: absolute;
        top: 24px;
        right: 24px;
    }

    p {
        color: var(--clr-light);
        font-size: 1.5rem;
        font-weight: bold;
        text-align: left;
        position: absolute;
        bottom: 24px;
        left: 24px;
    }
}

.box-one {
    background: var(--clr-blue);
    grid-area: one;
    min-height: 364px;
}

.box-two {
    background: var(--clr-orange);
    grid-area: two;
    min-height: 182px;
}

.box-three {
    background: var(--clr-pink);
    grid-area: three;
    min-height: 182px;
}

.box-four {
    background: var(--clr-red);
    grid-area: four;
    min-height: 158px;
}

.box-five {
    background: var(--clr-cyan);
    grid-area: five;
    min-height: 182px;
}

.box-six {
    background: var(--clr-purple);
    grid-area: six;
    min-height: 182px;
}

@media(min-width: 768px) {
    .bento-grid {
        grid-template-areas:
        'one one two three'
        'one one four four'
        'five five six six';
    }
}

@media(min-width: 1080px) {
    .bento-grid {
        grid-template-areas:
        'one one two three four four'
        'one one five five six six';
    }
}

/* End Bento Grid */

/* -------------- */
/* Utilities      */
/* -------------- */

.visible-hidden {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.visible-hidden:focus {
    clip: auto;
    height: auto;
    overflow: auto;
    position: absolute;
    width: auto;
}